*{
	border: none;
	padding: 0;
	margin: 0;
}

/* starts here */

.bbest-hero-banner-text > * {
	font-family: 'Barlow';
	font-style: normal;
 	letter-spacing: 0px;
}

.bbest-hero-banner-text h1 {
	font-size: 62px;
	font-style: normal;
	font-weight: 600;
	line-height: 66px;;
	color: #000099;
	margin-bottom: 0;
}
.bbest-hero-banner-text p {
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
	color: #000099;
}

.bbest-hero-banner-text{
	max-width: 1300px;
	margin: auto;
	display: flex;
	padding: 20px;
	gap: 20px;
}
.bbest-hero-banner-content {
	align-self: center;
}

@media (max-width: 900px) {
	.bbest-hero-banner-text {
		display: block;
	}
	.bbest-hero-banner-content {
		margin-top: 35px;
	}
}